@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url(bootstrap.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
.d-flex {
  display: flex; }

/*------section header-----*/
.main {
  background-image: url("../images/bg-first_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }
  .main header {
    padding-top: 31px; }
    @media screen and (max-width: 767px) {
      .main header .navbar-brand {
        padding-left: 15px; } }
    .main header nav {
      display: flex; }
      .main header nav .navbar-toggler {
        outline: none; }
      .main header nav ul li {
        margin-left: 40px; }
        @media screen and (max-width: 960px) {
          .main header nav ul li {
            margin-left: 0; } }
      .main header nav ul a {
        font-family: "Asap", sans-serif;
        font-weight: 400;
        color: #4d4d4d;
        font-size: 16px;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: 0.3s; }
        .main header nav ul a:hover {
          border-bottom: 2px solid #c8c8c8; }
  .main .main-container {
    margin-top: 15%; }
    .main .main-container h1 {
      font-size: 90px;
      font-family: "Asap", sans-serif;
      font-weight: 700;
      margin-bottom: 4px;
      color: #4d4d4d; }
      @media screen and (max-width: 420px) {
        .main .main-container h1 {
          font-size: 70px;
          margin-top: 25%; } }
    .main .main-container p {
      font-family: "Asap", sans-serif;
      font-weight: 400;
      font-size: 22px;
      margin-bottom: 28px;
      color: #909090; }
    .main .main-container .btn {
      font-size: 16px;
      line-height: 1rem;
      border-radius: 0;
      color: #4d4d4d;
      font-weight: 500;
      border: 1px solid #4d4d4d;
      padding: 19px 0 17px;
      width: 160px;
      margin-right: 20px;
      transition: 0.3s; }
      .main .main-container .btn:hover {
        background-color: #fff;
        color: #4d4d4d;
        border: 1px solid #fff;
        -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
        box-shadow: 3px 3px 20px 0 #c8c8c8; }
      @media screen and (max-width: 420px) {
        .main .main-container .btn {
          margin-bottom: 15px; } }

/*-------end section header------*/
/*-------section about-----------*/
.about {
  padding: 110px 0 124px; }
  .about h3 {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    color: #717171;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 69px 0 14px;
    line-height: 50px; }
    @media screen and (max-width: 548px) {
      .about h3 {
        font-size: 35px; } }
    .about h3:before {
      content: "";
      display: block;
      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 0 19px 0; }
  .about p {
    font-family: "Asap", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    font-size: 15px;
    margin-bottom: 36px; }
  .about img {
    display: block;
    width: 100%; }
  .about .btn {
    font-size: 16px;
    line-height: 1rem;
    border-radius: 0;
    color: #4d4d4d;
    font-weight: 500;
    border: 1px solid #4d4d4d;
    padding: 19px 0 17px;
    width: 245px;
    transition: 0.3s; }
    .about .btn:hover {
      background-color: #fff;
      color: #4d4d4d;
      border: 1px solid #fff;
      -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
      box-shadow: 3px 3px 20px 0 #c8c8c8; }
    @media screen and (max-width: 1000px) {
      .about .btn {
        margin-bottom: 15px; } }

/*------end section about-----*/
/*----section services-----*/
.services {
  background-color: #f6f6f6;
  padding: 119px 0 144px; }
  .services h3 {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    color: #717171;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 69px 0 14px;
    line-height: 50px; }
    @media screen and (max-width: 548px) {
      .services h3 {
        font-size: 35px; } }
    .services h3:before {
      content: "";
      display: block;
      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px; }
  .services .row {
    font-family: "Asap", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 16px; }
    .services .row .top {
      margin-bottom: 79px; }
    .services .row a img {
      display: block;
      margin: 0 auto 0;
      transition: 0.3s; }
      .services .row a img:hover {
        transform: scale(1.1); }

/*----end section services----*/
/*-----section skills-----*/
.skills {
  padding-top: 117px; }
  .skills img {
    display: block;
    width: 100%; }

h3 {
  font-family: "Asap", sans-serif;
  font-size: 46px;
  color: #717171;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 0;
  line-height: 50px; }
  @media screen and (max-width: 548px) {
    h3 {
      font-size: 35px; } }
  h3:before {
    content: "";
    display: block;
    background-color: #717171;
    width: 60px;
    height: 4px;
    margin: 0 auto 19px; }

.graph {
  display: block;
  width: 100%;
  -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
  box-shadow: 3px 3px 20px 0 #c8c8c8;
  margin-bottom: 15px; }
  .graph .d-flex {
    max-width: 900px;
    margin: auto; }
    .graph .d-flex img {
      margin-left: 28px; }

/*----portfolio----*/
.portfolio {
  padding: 126px 123px;
  background-color: #f6f6f6; }
  @media screen and (max-width: 960px) {
    .portfolio {
      padding: 50px 15px; } }
  .portfolio h3 {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    color: #717171;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 62px;
    line-height: 50px; }
    @media screen and (max-width: 548px) {
      .portfolio h3 {
        font-size: 35px; } }
    .portfolio h3:before {
      content: "";
      display: block;
      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px; }
  .portfolio .isotope-item {
    margin-bottom: 30px; }
    .portfolio .isotope-item img {
      display: block; }
  .portfolio .btn {
    width: 190px;
    font-size: 16px;
    line-height: 1rem;
    border-radius: 0;
    color: #4d4d4d;
    font-weight: 500;
    border: 1px solid #4d4d4d;
    padding: 19px 0 17px;
    outline: none;
    transition: 0.3s; }
    .portfolio .btn:hover {
      background-color: #fff;
      color: #4d4d4d;
      border: 1px solid #fff;
      -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
      box-shadow: 3px 3px 20px 0 #c8c8c8; }

/*----end portfolio----*/
/*-----area testimonials-----*/
.testimonials {
  padding: 126px 0 122px; }
  @media screen and (max-width: 960px) {
    .testimonials {
      padding: 50px 15px; } }
  .testimonials h3 {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    color: #717171;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 58px;
    line-height: 50px; }
    @media screen and (max-width: 548px) {
      .testimonials h3 {
        font-size: 35px; } }
    @media screen and (max-width: 548px) {
      .testimonials h3 {
        font-size: 30px; } }
    @media screen and (max-width: 420px) {
      .testimonials h3 {
        font-size: 25px; } }
    .testimonials h3:before {
      content: "";
      display: block;
      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px; }
  .testimonials .owl-carousel {
    border: 1px solid #000;
    padding: 81px 57px 38px 120px; }
    @media screen and (max-width: 768px) {
      .testimonials .owl-carousel {
        margin: 15px;
        padding: 30px; } }
    .testimonials .owl-carousel .owl-dots {
      text-align: center; }
      .testimonials .owl-carousel .owl-dots .owl-dot {
        outline: none; }
        .testimonials .owl-carousel .owl-dots .owl-dot span {
          display: inline-block;
          width: 13px;
          height: 13px;
          border: 1px solid #000;
          background-color: #fff;
          margin: 2px; }
        .testimonials .owl-carousel .owl-dots .owl-dot.active span {
          background-color: #000; }
    .testimonials .owl-carousel .item {
      margin-bottom: 56px; }
      @media screen and (max-width: 768px) {
        .testimonials .owl-carousel .item {
          margin-bottom: 15px;
          flex-wrap: wrap; } }
      .testimonials .owl-carousel .item img {
        display: block;
        width: 159px;
        height: 159px;
        margin-right: 31px; }
      .testimonials .owl-carousel .item h4 {
        font-family: "Asap", sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: #373737;
        text-transform: uppercase; }
      .testimonials .owl-carousel .item h6 {
        color: #373737;
        font-family: "Asap", sans-serif;
        font-style: italic;
        text-transform: uppercase;
        font-size: 12px; }
      .testimonials .owl-carousel .item p {
        font-size: 16px;
        color: #919191;
        font-family: "Asap", sans-serif;
        font-weight: 500; }

/*---- end testimonials-----*/
/*----area num----*/
.num {
  background-color: #f6f6f6;
  padding: 52px 0 64px;
  margin-bottom: 154px; }
  @media screen and (max-width: 768px) {
    .num {
      padding: 15px; } }
  .num a img {
    display: block;
    margin: 0 auto 31px;
    transition: 0.3s; }
    .num a img:hover {
      transform: scale(1.1); }

/*----area num end----*/
.bottom {
  background-image: url("../images/bg-footer_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 145px;
  position: relative; }
  .bottom h3 {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    color: #717171;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 69px 0 71px;
    line-height: 50px;
    color: #fff; }
    @media screen and (max-width: 548px) {
      .bottom h3 {
        font-size: 35px; } }
    .bottom h3:before {
      content: "";
      display: block;
      background-color: #fff;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px; }
  .bottom textarea {
    resize: none;
    height: 207px;
    outline: none; }
  .bottom .btn {
    font-size: 16px;
    line-height: 1rem;
    border-radius: 0;
    color: #4d4d4d;
    font-weight: 500;
    border: 1px solid #4d4d4d;
    padding: 19px 0 17px;
    background-color: #fff;
    color: #4d4d4d;
    font-size: 16px;
    padding: 20px 0 18px;
    width: 123px;
    border: none;
    border-radius: 0;
    font-family: "Asap", sans-serif;
    font-weight: 600;
    outline: none;
    transition: 0.3s;
    margin-bottom: 58px; }
    .bottom .btn:after {
      content: "\f105";
      font-weight: 900;
      font-family: "Font Awesome 5 Free"; }
    .bottom .btn:hover {
      -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
      box-shadow: 3px 3px 20px 0 #c8c8c8; }
  .bottom .up:hover {
    -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
    box-shadow: 3px 3px 10px 0 #c8c8c8; }
  .bottom footer {
    padding: 26px 0 30px; }
    @media screen and (max-width: 768px) {
      .bottom footer {
        margin: 15px; } }
    .bottom footer .row {
      padding-top: 33px;
      border-top: 1px solid #fff; }
      .bottom footer .row a {
        text-decoration: none;
        width: 27px;
        height: 27px;
        background-color: #fff;
        margin-right: 8px;
        line-height: 27px;
        transition: 0.3s; }
        .bottom footer .row a i {
          color: #4d4d4d; }
        .bottom footer .row a:hover {
          background-color: #0084b4; }
          .bottom footer .row a:hover i {
            color: #fff; }
      .bottom footer .row p {
        color: #fff;
        font-size: 16px;
        line-height: 27px; }
  .bottom .up {
    width: 45px;
    height: 41px;
    background-color: #fff;
    position: absolute;
    right: 30px;
    bottom: 193px; }
    .bottom .up i {
      color: #4d4d4d;
      line-height: 41px; }

/*# sourceMappingURL=style.css.map */
